.searchedGener {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 60px 10px;
  color: white;
  row-gap: 30px;
}

.items {
  color: white;
  padding: 20px 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

.singlemovie {
  transition: box-shadow 0.3s ease;
}

.singlemovie:hover {
  box-shadow: 1px 1px 10px white;
}

.movieCon {
  padding: 10px;
  width: 200px;
}

.singlemoviename {
  font-size: 20px;
}

.movieposter {
  display: flex;
  justify-content: center;
}
